stages:
  - pages

Render and upload:
  interruptible: true
  stage: pages
  image:
    name: "ghcr.io/peaceiris/mdbook:latest"
    entrypoint: [""]
  script: mdbook build doc -d $(pwd)/public
  pages: true
