name: "Continuous Integration"

on: [push, pull_request]

# Cancel existing jobs on new pushes to the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  REPO_LOWERCASE: hadrieng2/udipe

jobs:
  docker_image:
    name: Build docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      matrix:
        distro: [alma, debian, ubuntu]
    steps:
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx (needed for GHA caching)
        uses: docker/setup-buildx-action@v3
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: CI/*
          sparse-checkout-cone-mode: false
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: CI/Dockerfile.${{ matrix.distro }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWERCASE }}:${{ matrix.distro }}
          cache-from: type=gha,scope=${{ matrix.distro }}
          cache-to: type=gha,scope=${{ matrix.distro }},mode=max

  build_ubuntu_doxygen:
    name: Build for Ubuntu w/ Doxygen
    needs: docker_image
    runs-on: ubuntu-latest
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Build with Doxygen documentation
        uses: ./.github/actions/build
        with:
          artifact-name: build-ubuntu
          extra-cmake-opts: '-DUDIPE_BUILD_DOXYGEN=ON'

  build_other_linux:
    name: Build for other Linux
    needs: docker_image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [alma, debian]
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:${{ matrix.distro }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Build without Doxygen
        uses: ./.github/actions/build
        with:
          artifact-name: build-${{ matrix.distro }}

  build_windows:
    name: Build for Windows
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Pre-build and cache vcpkg deps
        id: vcpkg
        uses: johnwason/vcpkg-action@v7
        with:
          manifest-dir: ${{ github.workspace }}
          triplet: x64-windows-release
          token: ${{ github.token }}
      # TODO: Resume effort here once VS2026 is available on windows-latest
      # - name: Build with vcpkg deps
      #   uses: ./.github/actions/build
      #   with:
      #     artifact-name: build-windows
      #     extra-cmake-opts: ${{ steps.vcpkg.outputs.vcpkg-cmake-config }}
      # TODO: Once it builds, add a test_windows job that tests it

  test_linux:
    name: Test on Linux
    needs: [build_ubuntu_doxygen, build_other_linux]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [alma, debian, ubuntu]
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:${{ matrix.distro }}
    steps:
      - name: Download the build directory
        uses: actions/download-artifact@v6
        with:
          name: build-${{ matrix.distro }}
      - name: Run all tests
        run: |
          tar -xvf build.tar
          cd build
          ctest -j$(nproc)

  package_bin:
    name: Package binaries
    needs: [build_ubuntu_doxygen, build_other_linux]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro: [alma, debian, ubuntu]
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:${{ matrix.distro }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Download the build directory
        uses: actions/download-artifact@v6
        with:
          name: build-${{ matrix.distro }}
      - name: Generate binary package
        run: |
          tar -xvf build.tar
          cd build
          make package
      - name: Upload package
        uses: actions/upload-artifact@v6
        with:
          name: package-bin-${{ matrix.distro }}
          path: build/*.tar.gz
          retention-days: 2

  package_src:
    name: Package source
    needs: build_ubuntu_doxygen
    runs-on: ubuntu-latest
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Download the build directory
        uses: actions/download-artifact@v6
        with:
          name: build-ubuntu
      - name: Generate source package
        run:  |
          tar -xvf build.tar
          cd build
          make package_source
      - name: Upload package
        uses: actions/upload-artifact@v6
        with:
          name: package-src
          path: build/*.tar.gz
          retention-days: 2

  build_pages:
    name: Build website
    needs: build_ubuntu_doxygen
    runs-on: ubuntu-latest
    # Can't use env here, alas
    container: ghcr.io/hadrieng2/udipe:ubuntu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Download the build directory
        uses: actions/download-artifact@v6
        with:
          name: build-ubuntu
      - name: Unpack and relocate the doxygen render
        run: |
          tar -xvf build.tar
          rm doc/src/doxygen
          mv build/html doc/src/doxygen
      - name: Build the mdbook documentation
        run: mdbook build doc -d "$(pwd)/pages"
      - name: Generate and upload the artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: pages/

  deploy_pages:
    name: Deploy website
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build_pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.pages.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: pages
        uses: actions/deploy-pages@v4
