name: "Continuous Integration"

on: [push, pull_request]

# Cancel existing jobs on new pushes to the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  REPO_LOWERCASE: hadrieng2/udipe

jobs:
  # Build container images for all supported distros
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: write

    strategy:
      matrix:
        distro: [ubuntu, alma]

    steps:
      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx (needed for caching)
        uses: docker/setup-buildx-action@v3

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          file: CI/Dockerfile.${{ matrix.distro }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO_LOWERCASE }}:${{ matrix.distro }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # TODO: Now use those images to implement the rest of the CI:
  #       - ubuntu should be used for everything including docs
  #       - alma should be used for builds and tests only
  #       - Need a windows runner too, for builds and tests only, which will be
  #         set up manually for now (try to cache later)
  # TODO: Once the GitHub CI is finished, delete gitlab-ci.yml
